body{
  font-family: sans-serif;
  color: #fafafa;
  font-size: 16px;
  background-color: #28272a;
  font-weight: bold;
}

h1{
  color: #935dff;
}

button{
  font-family: sans-serif;
  font-weight: bold;
  margin: 1rem;
  background-color: #ec1f7f;
  color: #fafafa;
  border: none;
  padding: 1rem;
  width: 12rem;
  font-size: 1rem;
  border-radius: 2rem;
  display: none;
}

.test{
  border: 1px solid red;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.far{
  font-size: 4rem;
  margin: 0 0 2rem 0;
}

/* specific style */
.section-one{
  height: 100vh;
}

.hero-text{
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
}

.card-wrp{
  flex-wrap: wrap;
}

.rect{
  border-radius: .4rem;
  background-color: #28272a;
  width: 10rem;
  height: 14rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, .3);
  margin: 2rem;
  color: #935dff;
  transition: box-shadow 1s;
}

.rect:hover{
  box-shadow: 0 0 24px rgba(147, 93, 255, .3);
}

#resPlace{
  display: block;
}

#result{
  display: none;
  text-align: center;
  line-height: 2rem;
}

#result #comp, #result #juri{
  color: #ec1f7f;
}

/* media query */
@media only screen and (max-width: 500px) {
  .rect{
    width: 70vw;
    height: 5rem;
    flex-direction: row;
  }

  .far{
    font-size: 2rem;
    margin: 0 1rem 0 0;
  }

  button{
    margin: 2rem;
  }
}
